/* 最外层容器 */

#myTabs {
    width: 1600px;
    height: 1160px;
}


/* 二级标题容器 */

#subtitle {
    height: 0px;
}


/* 二级标题 */

.erji_title>a {
    width: 160px;
    height: 110px;
}


/* 图表容器 */

#show_charts {
    width: 1600x;
    height: 950px;
    top: 110px;
}

#tags {
    font-size: 160px;
    top: 200px;
    right: 400px;
    color: #00FDAD;
}