/* 最外层容器 */

#myTabs {
    width: 1970px;
    height: 1560px;
}


/* 二级标题容器 */

#subtitle {
    height: 100px;
}


/* 二级标题 */

.erji_title>a {
    width: 160px;
    height: 40px;
}


/* 图表容器 */

#show_charts {
    width: 1950px;
    height: 1300px;
   
}


