/* 最外层容器 */

#myTabs {
    width: 1900px;
    height: 1540px;
    /* height: 950px; */
}


/* 二级标题容器 */

#subtitle {
    height: 0px;
}


/* 二级标题 */

.erji_title>a {
    width: 160px;
    height: 50px;
}


/* 图表容器 */

#show_charts {
    width: 1900px;
    height: 1214px;
    top: 100px;
    /* bottom:60px; */
}