/* 最外层容器 */

#myTabs {
    width: 1900px;
    height: 1540px;
}


/* 二级标题容器 */

#subtitle {
    height: 100px;
}


/* 二级标题 */

.erji_title>a {
    width: 160px;
    height: 40px;
}


/* 图表容器 */

#show_charts {
    width: 1900px;
    height: 1254px;
}