/* 最外层容器 */

#myTabs {
    width: 2000px;
    height: 1280px;
    /* height: 950px; */
}


/* 二级标题容器 */

#subtitle {
    height: 120px;
}


/* 二级标题 */

.erji_title>a {
    width: 160px;
    height: 50px;
}


/* 图表容器 */

#show_charts {
    width: 2000px;
    height: 1010px;
    /* top: 95px; */
    /* bottom:60px; */
}