body {
    /* background-image: url("../Image/bgimg1.jpg"); */
    background-color: rgba(135, 205, 255, 0);
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: '黑体';
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    /* background-color: #060D1D; */
}


/* 最外层容器 */

#myTabs {
    width: 1588px;
    height: 900px;
    /* background-color: #060D1D; */
}

.nav-tabs {
    border: 1px solid transparent;
}


/* 点缀图片 */

#tag {
    background-color: #8BE2FF;
    /* background-image: url("../Image/bgimg1.jpg"); */
    width: 20px;
    height: 72px;
    border-radius: 0px;
}


/* 一级标题 */

.nav>li>a {
    font-size: 62px;
    /* font-weight: bold; */
    vertical-align: top;
    color: rgba(255, 255, 255, 0.25);
    padding: 0px;
    margin-left: 28px;
    margin-top: -7px;
}


/* 一级标题鼠标移入 */

.nav>li:hover,
.nav>li>a:hover {
    background-color: transparent;
    border-color: transparent;
}


/* 一级标题点击 */

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    background-color: transparent;
    border-color: transparent;
    /* 一级标题被点击后的字体颜色 */
    color: #ffffff;
    font-size: 62px;
}


/* 二级标题容器 */

#subtitle {
    text-align: center;
    vertical-align: center;
    /* padding-top: 5px; */
    height: 110px;
    /* background-color: blue; */
}


/* 二级标题 */

.erji_title>a {
    color: rgba(135, 205, 255, 0);
    display: inline-block;
    width: 396px;
    height: 110px;
    background-repeat: no-repeat;
    background-position: center center;
    font-size: 0px;
    text-decoration: none;
}


/* 二级标题鼠标移入 */

.erji_title>a:hover {
    color: rgba(255, 255, 255, 0);
}


/* 二级标题鼠标点击 */

.erji_title>a:focus {
    color: rgba(255, 0, 0, 0);
}


/* 图表容器 */

#show_charts {
    width: 1588px;
    height: 700px;
    /* background-color: red; */
}