body{
    /* background-image: url("../Image/bgimg1.jpg"); */
   width: 1588px;
   height: 900px;
   background-color: rgba(135, 205, 255, 0);
  /* overflow:scroll;
  overflow-x:hidden;
  overflow-y:hidden; */
   /* background-color: #060D1D; */
}
/* 最外层容器 */
#myTabs{
   width: 100vw;
   height: 100vw;
   /* background-color: #060D1D; */
}
.nav-tabs{
   border: 1px solid transparent;
}
/* 点缀图片 */
#tag{
   background-color: #8BE2FF;
   /* background-image: url("../Image/bgimg1.jpg"); */
   width: 1.26vw;
   height: 4.53vw;
   border-radius: 0px;
}
/* 一级标题 */
.nav >li>a{
   font-size: 3.78vw;
   font-weight: bold;
   vertical-align: top;
   color: rgb(200, 200, 200);
   padding: 0px;
   margin-left: 1.76vw;
   margin-top: -0.31vw;
}
/* 一级标题鼠标移入 */
.nav>li:hover, .nav>li>a:hover{
   background-color: transparent;
   border-color: transparent;
}
/* 一级标题点击 */
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
   background-color: transparent;
   border-color: transparent;
   /* 一级标题被点击后的字体颜色 */
   color: #CDE8FF;
   font-size: 3.78vw;
}
/* 二级标题容器 */
#subtitle{
   text-align: center;
   vertical-align: center;
   /* padding-top: 5px; */
   height: 6.93vw;
   /* background-color: blue; */
}
/* 二级标题 */
.erji_title>a{
   color: rgba(135, 205, 255, 0);
   display:inline-block; 
   width:24.94vw; 
   height: 6.93vw;
   background-repeat:no-repeat; 
   background-position:center center; 
   font-size: 0px; 
   text-decoration: none;
}
/* 二级标题鼠标移入 */
.erji_title>a:hover{
   color: rgba(255, 255, 255, 0);
}
/* 二级标题鼠标点击 */
.erji_title>a:focus{
   color: rgba(255, 0, 0, 0);
}
/* 图表容器 */
#show_charts{
   width: 100vw;
   height: 44.08vw;
   /* background-color: red; */
}

body{
    width: 1588px;
    height: 900px;
}
/* 最外层容器 */
#myTabs{
    width: 100vw;
    height: 100vw;
}
/* 二级标题容器 */
#subtitle{
    height: 6.93vw;
}
/* 二级标题 */
.erji_title>a{
    width:24.94vw; 
    height:6.96vw
}
/* 图表容器 */
#show_charts{
    width: 100vw;
    height: 44.08vw
    /* background-color: red; */
}

