/* 最外层容器 */
#myTabs{
    width: 1530px;
    height: 1450px;
    /* height: 950px; */
}

/* 二级标题容器 */
#subtitle{
    text-align: center;
    vertical-align: center;
    /* padding-top: 5px; */
    height: 20px;
    /* background-color: blue; */
}
/* 二级标题 */
.erji_title>a{
    width:160px; 
    height:50px; 
}
/* 图表容器 */
#show_charts{
    width: 1530px;
    height: 1330px;
    /* background-color: rgba(255, 0, 0, 0.13); */
}

