#content{
    width: 83.85vw;
    height: 43.75vw;
    background-color: rgba(0,0,0,0.35);
}
.text {
    font-size: 0.83vw;
    color: white;
    text-align: center;
}
.left {
    float: left;
}
.right {
    float: right;
}
.pad {
    padding-left: 2.08vw;
    padding-top: 1.05vw;
}
#exception {
    box-sizing: border-box;
    padding-left: 2.86vw;
    padding-top: 2.03vw;
    padding-right: 2.08vw;
    width: 100%;
    height: 43.75vw;
}
.box {
    box-sizing: border-box;
    width: 8.96vw;
    height: 1.56vw;
    border: 0.052vw rgba(100,100,100,0.21);
    border-radius: 0.26vw;
    background-color: rgba(0,0,0,0.21)!important;
    font-size: 0.625vw;
    color: #b3b3b3;
}
input {
    padding-left: 1.56vw;
    margin-top: 0;
}
input::-webkit-input-placeholder {
    color: #b3b3b3;
    font-size: 0.625vw;
}

input[type="date"]::-webkit-inner-spin-button {
    visibility: hidden;
}
input[type="date"]::-webkit-clear-button {
    visibility: hidden;
}
input[type="date"]::-webkit-datetime-edit-text {
    visibility: hidden;
}
input[type="date"]::-webkit-datetime-edit-month-field {
    visibility: hidden;
}
input[type="date"]::-webkit-datetime-edit-year-field {
    visibility: hidden;
}
input[type="date"]::-webkit-datetime-edit-day-field {
    visibility: hidden;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0.15vw;
    left: 0.26vw;
    width: 1.04vw;
    height: 1.04vw;
    opacity: 0;
}
input[type="date"]::-webkit-calendar-picker-indicator:hover {
    background-color: blue;
}
input[type="date"]::before{  
    content:attr(placeholder);
    -webkit-appearance:textarea;
}
.date {
    background: url(../../Image/控制版/test.png) left center no-repeat;
    background-size: contain;
}
.pos {
    padding: 0 0.52vw;
}
.exceptionReason {
    padding-left: 1.56vw;
}
select {
    -webkit-appearance:none;
    padding-left: 0.52vw;
    background: url(../../Image/控制版/test.png) right center no-repeat;
    background-size: contain;
}
.btn {
    box-sizing: border-box;
    width: 2.92vw;
    height: 1.56vw;
    padding: 0;
    color: #00eeff;
    font-size: 0.625vw;
    text-align: center;
    line-height: 1.56vw;
}
#searchBtn {
    margin-right: 1.56vw;
    border: 0.052vw rgba(152,152,152,0.2);
    border-radius: 0.26vw;
    background-color: rgba(255,255,255,0.2);
}
#resetBtn {
    border: 0.052vw rgba(62,97,142,0.2);
    border-radius: 0.26vw;
    background-color: rgba(0,238,255,0.2);
}
