/* 最外层容器 */

#myTabs {
    width: 2100px;
    height: 1530px;
    /* height: 950px; */
}


/* 二级标题容器 */

#subtitle {
    height: 0px;
}


/* 二级标题 */

.erji_title>a {
    width: 160px;
    height: 50px;
}


/* 图表容器 */

#show_charts {
    width: 100%;
    height: 1200px;
    top: 80px;
    /* bottom:60px; */
}