/* 最外层容器 */

#myTabs {
    width: 2100px;
    height: 1400px;
}


/* 二级标题容器 */

#subtitle {
    height: 0px;
}


/* 二级标题 */

.erji_title>a {
    width: 396px;
    height: 0px;
}


/* 图表容器 */

#show_charts {
    width: 100%;
    height: 1100px;
    margin-top: 100px;
    /* background-color: red; */
}


/* .nav-tabs {
    display: none;
} */