/* 最外层容器 */

#myTabs {
    width: 2500px;
    height: 840px;
}


/* 二级标题容器 */

#subtitle {
    height: 0px;
}


/* 二级标题 */

.erji_title>a {
    width: 160px;
    height: 0px;
}


/* 图表容器 */

#show_charts {
    width: 100%;
    height: 700px;
    top: 20px;
    /* background-color: rgba(255, 0, 0, 0.13); */
}