/* 最外层容器 */

#myTabs {
    width: 2700PX;
    height: 1400px;
}


/* 二级标题容器 */

#subtitle {
    height: 40px;
}


/* 二级标题 */

.erji_title>a {
    width: 160px;
    height: 40px;
}


/* 图表容器 */

#show_charts {
    width: 2600px;
    height: 1230px;
}


/* 一级标题 */

.nav>li>a {
    font-size: 60px;
    /* font-weight: bold; */
    vertical-align: top;
    color: rgb(200, 200, 200);
    padding: 0px;
    margin-left: 30px;
    margin-top: -5px;
    top: 14px;
}


/* 一级标题鼠标移入 */

.nav>li:hover,
.nav>li>a:hover {
    background-color: transparent;
    border-color: transparent;
}


/* 一级标题点击 */

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    background-color: transparent;
    border-color: transparent;
    font-size: 60px;
    top: 14px;
}

#tag {
    background-color: #00FDAD;
    /* background-image: url("../Image/bgimg1.jpg"); */
    width: 20px;
    height: 68px;
    border-radius: 0px;
    top: 14px;
}