/* 最外层容器 */

#myTabs {
    width: 1800px;
    height: 1100px;
}


/* 二级标题容器 */

#subtitle {
    height: 70px;
}


/* 二级标题 */

.erji_title>a {
    width: 160px;
    height: 110px;
}


/* 图表容器 */

#show_charts {
    width: 1550px;
    height: 900px;
}
/* 一级标题 */
    
.nav>li>a {
    font-size: 54px;

    color: rgba(200, 200, 200,0.8);

}

/* 一级标题点击 */

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
   
    font-size: 54px;
}
