/* 最外层容器 */

#myTabs {
    width: 2400px;
    height: 1200px;
}


/* 二级标题容器 */

#subtitle {
    height: 120px;
}


/* 二级标题 */

.erji_title>a {
    width: 160px;
    height: 40px;
}


/* 图表容器 */

#show_charts {
    width: 2350px;
    height: 950px;
}