body {
    width: 2000px;
    height: 760px;
    font-family: '黑体'
}

#myTabs {
    width: 2000px;
    height: 760px;
    background-image: url(../../../Image/监控版/状态机/Background.png);
    background-repeat: no-repeat;
    /* background-color: red; */
}

.myButton {
    background: rgba(0,0,0,0);
    background-origin: border-box;
    background-image: url(../../../Image/监控版/状态机/T_RectBox_UncheckedNormal.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 380px;
    height: 220px;
    border: none;
    outline: none;
    text-align: center;
    font-size: 55px;
    color: rgb(255, 255, 255);
    
}
.myButton:hover {
    
    background-image: url(../../../Image/监控版/状态机/T_RectBox_UncheckedHovered.png);
}
.myButton:active {
    background-image: url(../../../Image/监控版/状态机/T_RectBox_UncheckedPressed.png);
}

.button_0 {
    position: absolute;
    left: 30px;
    top: 150px;
}
.button_1 {
    position: absolute;
    left: 550px;
    top: 150px;
}
.button_2 {
    position: absolute;
    left: 1600px;
    top: 150px;
}

.button_3 {
    position: absolute;
    left: 550px;
    top: 550px;
}
.button_4 {
    position: absolute;
    left: 1600px;
    top: 550px;
}

.chooseButton {
    background: rgba(0,0,0,0);
    background-origin: border-box;
    background-image: url(../../../Image/监控版/状态机/T_Rhombus_UncheckedNormal.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 380px;
    height: 220px;
    border: none;
    text-align: center;
    font-size: 55px;
    position: absolute;
    outline: none;
    left: 1090px;
    top: 150px;
    cursor: default;
    color: rgb(255, 255, 255);
    
}

.checkedButton {
    background: rgba(0,0,0,0);
    background-origin: border-box;
    background-image: url(../../../Image/监控版/状态机/T_RectBox_CheckedNormal.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 380px;
    height: 220px;
    border: none;
    outline: none;
    text-align: center;
    font-size: 55px;
    color: rgb(255, 255, 255);
    
}

.checkedButton:hover {
    background-image: url(../../../Image/监控版/状态机/T_RectBox_CheckedHovered.png);
}

.checkedButton:active {
    background-image: url(../../../Image/监控版/状态机/T_RectBox_CheckedPressed.png);
}