/* 最外层容器 */

#myTabs {
    width: 2000px;
    height: 610px;
}


/* 二级标题容器 */

#subtitle {
    height: 100px;
    /* background-color: rgba(255, 0, 0, 0.13); */
    margin-top: 300px;
}


/* 二级标题 */

.erji_title>a {
    /* width:160px; 
    height:228px;  */
    width: 360px;
    font-size: 40px;
    font-weight: bold;
    vertical-align: top;
    color: #FFFFFF;
    padding: 0px;
    margin-left: 113px;
    margin-top: 130px;
    text-align: center;
    top: 14px;
    
}


/* 图表容器 */

#show_charts {
    width: 2000px;
    height: 450px;
    margin-top: -320px;
    /* background-color: rgba(255, 0, 0, 0.13); */
}

#tag {
    background-color: #00FDAD;
    /* background-image: url("../Image/bgimg1.jpg"); */
    width: 20px;
    height: 68px;
    border-radius: 0px;
    top: 60px;
}


/* 一级标题 */

.nav>li>a {
    font-size: 72px;
    font-weight: bold;
    vertical-align: top;
    color: #ffffff;
    padding: 0px;
    margin-left: 30px;
    margin-top: -5px;
    top: 0px;
    
    
}


/* 一级标题鼠标移入 */

.nav>li:hover,
.nav>li>a:hover {
    background-color: transparent;
    border-color: transparent;
}


/* 一级标题点击 */

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    
    background-color: transparent;
    border-color: transparent;
    font-size: 72px;
    color: #ffffff;
    top: 0px;
}

#tag {
    background-color: rgba(255, 0, 0, 0);
    /* background-image: url("../Image/bgimg1.jpg"); */
    width: 20px;
    height: 35px;
    border-radius: 0px;
    margin-top: 3px;
    color: white;
    
    font-size: 50px;
    line-height: 35px;
    top: 25px;
}


/* 二级标题鼠标移入 */


/* .erji_title>a:hover {
    color: rgba(0, 0, 0, 0);
} */


/* 二级标题鼠标点击 */


/* .erji_title>a:focus {
    color: rgba(0, 0, 0, 0);
} */