@font-face {
    font-family: MorganBig-Regular;
    src: url('../../../../font_family/庞门正道标题体2.0增强版.ttf');
    /* src: local('fontname Regular'), local('fontname'), url('fontname.woff') format('woff'), url('fontname.ttf') format('truetype'), url('fontname.svg#fontname') format('svg'); */
}
#myTabs {
    width:1780px;
    height: 1930px;
    font-family: Microsoft Yahei;
    display: block;
    /* background-color: black; */
}
.box{
    width: 1780px;
    height: 1910px;
    /* background-color: black; */
}
.image{
    max-width: 80px;
    max-height:80px;
    position: absolute;
    left: -10px;
    top:20px;
}

.title{
    width: 1680px;
    font-size: 72px;
    color: white;
        
    padding-bottom: 12px;
    padding-left: 50px;
}

.erjititle{
    font-size: 50px;
    color: #d2f6fe;
    
    padding-bottom: 40px;
    padding-top: 40px;
    padding-left: 50px;
}

.contentOne{
    height: 248px;
    
    font-size: 40px;
    border: 4px solid white;
    box-shadow: 0 0 20px #73CEFE inset, 0 0 20px #73CEFE;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 28px;
    padding: 40px;
}
.contentTwo{
    height: 292px;
    font-size: 40px;
    
}
.contentThree{
    height: 214px;
    font-size: 40px;
    border: 4px solid white;
    box-shadow: 0 0 20px #73CEFE inset, 0 0 10px #73CEFE;
    
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 40px;
    padding: 40px;
}
p{
    color: #d2f6fe;
    
}

.boxOne{
    font-size: 40px;
    height: 292px;
    padding: 40px;
    color: #d2f6fe;
    
    border: 4px solid white;
    box-shadow: 0 0 20px #73CEFE inset, 0 0 20px #73CEFE;
    display: block;
    overflow: auto;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 28px;
}
.boxTwo{
    display: block;
    height: 350px;
    overflow: auto;
    border: 10px solid;
    border-image:linear-gradient(to right,rgb(63,107,156),#23b7cb) 1 10;
    border-left: none;
    border-right: none;
    margin-left: 50px;
    margin-right: 50px;
}
.font{
    font-size: 50px;
    color: #d2f6fe;
    
    width: 900px;
    padding-top: 10px;
}
.width{
    font-size: 50px;
    width: 500px;
}
.stars{
    font-size: 72px;
    color: white;
        
}
.nostar{
    color: rgb(57,68,73);
    font-size: 72px;
        text-shadow : none;
}
.number{
    font-family: MorganBig-Regular;
    font-size: 50px;
    color: white;
    font-weight: 100px;
}

::-webkit-scrollbar
{
    width: 20px;
    height: 10px;
}

::-webkit-scrollbar-thumb
{
    border-radius: 20px;
    box-shadow: inset 0 0 10px rgba(0,0,0,.3);
    background-color: #d2f6fe;
}

::-webkit-scrollbar-track
{
    box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
    border-radius: 20px;
    background-color: rgba(237, 237, 237, 0.3);
}
