#myTabs {
    width: 1780px;
    height: 770px;
    /* background-color: #060D1D; */
    position: relative;
}
#tag {
    margin-top:30px;
}
.nav>li>a {
    font-size: 72px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    font-size: 72px;
}

.nav {
    position: absolute;
    top: 30px;
}

#show_charts {
    position: absolute;
    top: 160px;
    width: 1700px;
    height: 384px;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    /* background-image:url('../../../../Image/能源分析/区域分析/概况背景.png'); */
    background-size: 100% 100%;
    /* background-color: rgba(255, 0, 0, 1); */
}

#show_charts>button {
    width: 100%;
    height: 136px;
    font-size: 50px;
    color: white;
    background-color: rgba(255, 0, 0, 0);
    border: 0px solid rgba(0, 0, 0, 0);
    cursor: default;
    position: relative;
    outline: none;
}

.column1 {
    position: absolute;
    font-size: 50px;
    color: #D2F6FE;
    left:0px;
}

.column2 {
    position: absolute;
    font-size: 50px;
    
    left: 220px;
}

.column3 {
    position: absolute;
    font-size: 50px;
    font-family: MorganBig-Regular;
    font-weight: 100;
    color: white;
    left: 490px;
}

.column4 {
    position: absolute;
    font-size: 50px;
    color: #D2F6FE;
    left: 900px;
}

.column5 {
    position: absolute;
    font-size: 50px;
    color: white;
    
    left: 1120px;
}
.star{
    color: white;
    
}
.nostar{
    color: rgb(57,68,73);
        text-shadow : none;
}

.column6 {
    position: absolute;
    font-size: 50px;
    font-family: MorganBig-Regular;
    font-weight: 100;
    color: white;
    left: 1390px;
}
.text{
    margin-top: 40px;
    width: 100%;
    height: 256px;
    font-size: 40px;
    color: white;
    background-color: rgba(255, 0, 0, 0);
    border: 2px solid rgba(255, 255, 255, 1);
    box-shadow:0 0 0.2em #73CEFE;
    outline: none;
    padding:30px;
    resize:none;
}
.text::-webkit-scrollbar
{
    width: 0.5em;
}

.text::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0,0,0,.3);
    background-color: #d2f6fe;
}

.text::-webkit-scrollbar-track
{
    box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: rgba(237, 237, 237, 0);
}
